@import "tailwindcss";

body{
    color: #a52a2a7a;
    /* color: #ffffff7c; */
}

 @font-face {
    font-family: font1;
    src: url('./RubikMonoOne-Regular.ttf');

 }
 @font-face {
    font-family: font2;
    src: url('./YsabeauOffice-VariableFont_wght.ttf');

 }

@layer{
    .text-stroke-1 {
        -webkit-text-stroke:0.2px rgba(255, 255, 255, 0.884);
      } 
    .text-stroke-2 {
        -webkit-text-stroke:2px rgba(255, 255, 255, 0.589);
      } 
    .text-s{
      font-size: 10px;
    }
}

